  // Card
  .card{
    width: 340px;
    display: block;
    text-decoration: none;

    .body{
      display: flex;
      justify-content: center;
      flex-direction: column;        
      padding: 0 20px;

      > span{
        font-size: 10px;
      }
      > h4 {
        font: 14px ;
        color: #42505C;
        margin: 5px 0;
      }
    }
  }
  .title{
    color: #79828B;
    font-size: 10px;
}
  .list-line{
    display: block;
    
    h4{
        margin: 0;
        color: #42505C;
        font-size: 14px;
    }

    &::after{
        display: block;
        content: '';
        border: 1px solid #E4E4E4;
        background: #E4E4E4;
        margin-top: 10px;
        width: 300px;
    }
}